<div class="row">
  <div class="col-xs-10">
    <rb-shopping-list-add [item]="selectedItem" (cleared)="onCleared()"></rb-shopping-list-add>
    <hr>
    <ul class="list-group">
      <a *ngFor="let item of items" class="list-group-item" style="cursor: pointer" (click)="onSlectItem(item)">{{item.name}} ({{item.amount}})</a>
    </ul>
  </div>
</div>
